body {
    margin: 0;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;

    display: grid;
    grid-template-areas: 
    "header header"
    "section aside"
    "footer footer";

    grid-template-rows: 70px 2fr 40px;
    grid-template-columns:2fr 110px;
    color:rgb(242, 223, 190);
}

#topo {
    grid-area: header;
    background-color: rgb(14, 93, 86);
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    padding-right: 10%;
    padding-left: 10%;
    font-style: oblique;
}

main {width: 50%;}

#menu {
    width: 150%;
    height: 150%;
    background-color: blue;
    /*background-color:  rgb(14, 93, 86);*/
    display: inline-flex;
    text-align: center;
    font-style: italic;
}


#lin {
    padding-right: 10%;
    text-decoration: none;
    color: rgb(242, 223, 190)
}

#lin:hover {
    color: rgb(5, 109, 255);
    border-bottom: 1px solid rgb(5, 109, 255);
}


#conteudo {
    grid-area: section;
    background-color: rgb(242, 223, 190);
    justify-content: space-between;
    align-items: center;
}

img{
    margin: 7px;
    max-width: 40%;
}

#info {
    color: rgb(242, 223, 190);
    text-align: center;
    grid-area: aside;
    padding: 10px;
    background-image: linear-gradient(
     to bottom, 
     rgb(65, 161, 153) 0,
     rgb(65, 161, 153) 60%,
     rgb(204, 242, 239));
    
}

#rodapé {
    grid-area: footer;
    background-color:rgb(18, 118, 110);
    display: flex;
    justify-content: center;
    font-size: 120%;
    align-items: center;
}

/*@media screen and (max-width:1600px) {
    #menu {
        font-size: 200%;
        width: 60%;
        height: 55%;
    }
    
}

@media screen and (max-width:1200px) {
    #menu {
        font-size: 150%;
        width: 45%;
        height: 35%;
    }
}


@media screen and (max-width:400px) {
    #menu {
        font-size: 50%;
        width: 22%;
        height: 12%;
    }
}*/