body {
    margin: 0;
    height: 200vh;
    font-family: 'Times New Roman', Times, serif;

    display: grid;
    grid-template-areas: 
    "header header"
    "section aside"
    "footer footer";

    grid-template-rows: 70px 3fr 60px;
    grid-template-columns:3fr 250px;
    color:rgb(242, 223, 190);
}

#topo {
    grid-area: header;
    background-color: rgb(14, 93, 86);
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    padding-right: 10%;
    padding-left: 10%;
    font-style: oblique;
}

main {width: 50%;}

#menu {
    width: 150%;
    height: 150%;
    display: inline-flex;
    text-align: center;
    font-style: italic;
    background-color: rgb(14, 93, 86);
}


#lin {
    padding-right: 10%;
    text-decoration: none;
    color: rgb(242, 223, 190)
}

#lin:hover {
    color: rgb(5, 109, 255);
}


#conteudo {
    grid-area: section;
    background-color: rgb(242, 223, 190);
    align-items: center;
    justify-content: space-between;
    justify-items: auto;
}

#banner{
    background-image: url(./img/fotofundo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 40%;
    margin: 0;
}


#bemvindo{
    align-items: center;
    padding: 1% 1% 1% 25%;
    position: absolute;
    float: inline-start;
    font-style: italic;
    color: rgb(251, 251, 251);
    width: 100%;
    font-size: 300%;
}

.Caixa{
    margin: 3%;
    width: 27%; height: 25%;
    background-color: rgb(199, 201, 201);
    display: inline-block;
    text-align: center;
}

img{
    background-color: blue;
    align-items: center;   
    max-width: 100%; 
    max-height: 80%;
}

.descrição {
    font-size: 90%;
    color: black;
}

#info {
    color: rgb(242, 223, 190);
    text-align: center;
    grid-area: aside;
    padding: 10px;
    background-image: linear-gradient(
     to bottom, 
     rgb(38, 100, 95) 0,
     rgb(65, 161, 153) 60%,
     rgb(204, 242, 239)); 
}

div, #coment{
    align-items: self-start;
    width: 100%;
    height: 36%;
    background-color: #79bcb8;
}

#label {
    font-size: 140%;
}

#comentarios {
    width: 90%;
    height: 5%;
}

#rodapé {
    grid-area: footer;
    background-color:rgb(18, 118, 110);
    display: flex;
    justify-content: center;
    font-size: 120%;
    align-items: center;
}

/*@media screen and (max-width:1600px) {
    #menu {
        font-size: 200%;
        width: 60%;
        height: 55%;
    }
    
}

@media screen and (max-width:1200px) {
    #menu {
        font-size: 150%;
        width: 45%;
        height: 35%;
    }
}


@media screen and (max-width:400px) {
    #menu {
        font-size: 50%;
        width: 22%;
        height: 12%;
    }
}*/