*{text-decoration: none;}
body {
    margin: 0;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;

    display: grid;
    grid-template-areas: 
    "header main"
    "section aside"
    "footer footer";

    grid-template-rows: 100px 1fr 50px;
    grid-template-columns:1fr 130px;
    color: #fefbfb;

}

#topo {
    grid-area: header;
    background-color: blue;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    padding-left: 15%;
    padding-right: 15%;
    font-style: oblique;
}


main {
    background-color: blue;
    display: flexbox;
    text-align: center;
    padding-top: 15%;
    font-style: italic;
}


#lin {
    color: white;
}

#lin:hover {
    color: black;
    border-bottom: 1px solid black;
}


#conteudo {
    grid-area: section;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    background-color: white;
}

form input {
    margin: 10px;
}

#ran {
  margin: 0;
}

#ch, input #che{
    display: inline;
    margin: 0;
    padding: 0px;
}

#enviar {
    margin: 10px;
    width: 20%;
    color: blue;
    background-color: hsl(38, 9%, 76%);
    border: 2px solid purple;
    cursor: pointer;
}

img{
    margin: 7px;
    max-width: 40%;
}

#info {
    grid-area: aside;
    text-align: center;
    background-image: linear-gradient(
     to bottom, 
     blue 0,
     purple 60%,
     hsl(300, 48%, 46%))
}

#rodapé {
    grid-area: footer;
    background-color: hsl(300, 48%, 46%);
    display: flex;
    justify-content: space-between;
    font-size: 120%;
    align-items: center;
}

p {margin: 10px;}

#em {
    color: purple;
}

#em:hover {
    border-bottom: 1px solid black;
    color: black;
}